@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic);

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	border: none;
	color: #444;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin: 0px 0px 10px;
	color: #272727;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
}

h4 {
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	line-height: 22px;
}

h3 {
	font-size: 26px;
}

p {
	margin-bottom: 22px;
	font-family: "Open Sans", sans-serif;
	font-size:14px;
	line-height: 25px;
	color: #727272;
	font-weight: 400;
}
a {
	color:#3fa1c1;
	background:none;
	text-decoration: none;
	outline: none;
}



a:hover, a:active, a:focus {
	color:#3fa1c1;
	text-decoration: none;
	outline: none;
}

::selection {
 background:#3fa1c1;
 color:#FFF;
}

::-moz-selection {
 background:#00AAB3;
 color:#FFF;
}

img {
	max-width:100%;
}

select, option, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .form-control {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff; /* General white text for inputs */
    height: 46px;
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 0px;
    transition: all 200ms ease-in 0s;
    background: rgba(255, 255, 255, 0); /* Transparent background */
    border: 2px solid rgba(236, 240, 241, 0.58);
	font-weight: 600;
}

/* More specific styles for select elements */
select {
    font-weight: 600;
    letter-spacing: 1px;
}

/* Specific styling for select elements with the .form-control class */
select.form-control {
    color: #fff !important; 
    background-color: rgba(255, 255, 255, 0) !important; 
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid rgba(236, 240, 241, 0.58); 
    height: 46px;
    width: 100%;
    transition: all 200ms ease-in 0s;
}

/* Style for dropdown options */
select.form-control option {
    color: #000; 
    background-color: rgba(255, 255, 255, 0.8); 
}


textarea:focus, select:focus, option:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .form-control:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color:#FFF !important;
	font-weight: 600;
}

/*-----------------------------------------------------------------*/
/* Common Elements
/*-----------------------------------------------------------------*/

::-webkit-input-placeholder {
 color:#FFF !important;
 font-weight: 600;
 letter-spacing:1px;
}

:-moz-placeholder {
 color:#FFF !important;
 font-weight: 600;
 letter-spacing:1px;
}

::-moz-placeholder {
 color:#FFF !important;
 font-weight: 600;
 letter-spacing:1px;
}

:-ms-input-placeholder {
 color:#FFF !important;
 font-weight: 600;
 letter-spacing:1px;
}

.clear {
	clear:both;
}

.scrollup {
	width:35px;
	height:35px;
	position:fixed;
	bottom:30px;
	right:15px;
	display:none;
	background:rgba(63, 150, 193, 0.8);
	text-align: center;
}

.scrollup i {
	color:#fff;
	font-size:15px;
	display:block;
	line-height:33px;
}

.scrollup:hover {
	background:rgba(63, 150, 193, 0.9);
}

.section {
	padding:30px 0 70px;
	position:relative;
}

.section .container {
	position:relative;
}

.title-box {
	border-bottom-width: 0px;
	margin-bottom: 70px;
	margin-top: 85px;
	position: relative;
}

.title-box h2.title {
	font-weight: 700;
	font-size: 29px;
	line-height: 32px;
	text-transform: uppercase;
}

.title-box h2:before {
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 0;
	margin: -22px auto;
	position: absolute;
	width: 40px;
	background: #00AAB3;
}

.title-box.white h2.title:before {
	background:#FFF;
}

.title-box.white h2.title {
	color:#FFF;
}

.title-box.text-center h2:before {
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 0;
	right:0;
	margin: -22px auto;
	position: absolute;
	width: 40px;
	background: #1d191a;
}

.sub-title-box.text-center h2:before {
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 0;
	right:0;
	margin: -22px auto;
	position: absolute;
	width: 40px;
	background: #ffffff;
}

.sub-title-box {
	border-bottom-width: 0px;
	margin-bottom: 75px;
	margin-top: 100px;
	position: relative;
}

.sub-title-box h2.title {
	font-weight: 700;
	font-size: 29px;
	line-height: 32px;
	text-transform: uppercase;
}

.sub-title-box h2:before {
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 0;
	margin: -22px auto;
	position: absolute;
	width: 40px;
	background: #00AAB3;
}

.sub-title-box.white h2.title:before {
	background:#FFF;
}

.sub-title-box.white h2.title {
	color:#FFF;
}


.center {
	display: flex;
  	justify-content: center; 
  	align-items: center; 
  	height: 100vh;
}


.title-box.text-right:before {
	left: auto;
	right: 0;
}

.title-box.text-center:before {
	left: 50%;
	margin-left: -20px;
}

.color-white h2 {
	color:#fff !important;
}

#pageloader {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color:#FFF;
	z-index: 999999;
}

.loader {
	position: absolute;
	width: auto;
	height:auto;
	margin: -25px 0 0 -25px;
	top:50%;
	left:50%;
	text-align:center;
}

.overlay {
	background:rgba(0, 0, 0, 0.4) repeat;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

section {
	position:relative;
}

.parallax .container {
	position:relative;
}

.parallax {
	background-attachment: fixed !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

/*-----------------------------------------------------------------*/
/* Buttons
/*-----------------------------------------------------------------*/

.btn {
    box-shadow: none;
    line-height: 22px;
    font-weight: 600;
    padding: 6px 23px;
    font-size: 15px;
    border-radius: 20px;
    border: 2px solid transparent;
    color: #262B37;
    transition: all 200ms ease 0s;
}


.btn-white {
	background:#FFF;
	border-color: #FFF;
	color:#ffffff;
}

.btn-gray {
	background:#f0eeee;
	border-color: #000000;
	color:#000000;
}

.btn-white:hover {
	color: #FFF;
	background: #3fa1c1;
	border-color:#3fa1c1;
}


.btn-gray-border:hover, .btn-gray-border:focus {
	color: #c3c2c2;
	background: rgb(243, 88, 91);
	border-color: rgb(243, 88, 91);
}

.btn-blue {
	background:#3fa1c1;
	border-color: #3fa1c1;
	color:#FFF;
}



.btn-gray-border {
    border: 2px solid #7A7A7B;
    background: transparent;
    color: #4F4F50;
	padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-gray-border:hover, .btn-gray-border:focus {
	color: #c3c2c2;
	background:#3fa1c1;
	border-color:#3fa1c1;
}

.clickable:hover {
	cursor: pointer;
}

/*-----------------------------------------------------------------*/
/* spacing & margin
/*-----------------------------------------------------------------*/


.margin-top-5 {
	margin-top: 5px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-15 {
	margin-top: 15px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}
.margin-top-25 {
	margin-top: 25px !important;
}

.margin-top-30 {
	margin-top: 30px !important;
}

.margin-top-35 {
	margin-top: 35px !important;
}

.margin-top-40 {
	margin-top: 40px !important;
}

.margin-top-45 {
	margin-top: 45px !important;
}

.margin-top-50 {
	margin-top: 50px !important;
}

.no-margin-bottom {
	margin-bottom: opx !important;
}

.margin-bottom-5 {
	margin-bottom: 5px !important;
}

.margin-bottom-10 {
	
	margin-bottom: 10px !important;
}

.margin-bottom-15 {
	margin-bottom: 15px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-25 {
	margin-bottom: 25px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

.margin-bottom-35 {
	margin-bottom: 35px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-50 {
	margin-bottom: 50px !important;
}

.margin-bottom-50 {
	margin-bottom: 50px !important;
}
.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-70 {
	margin-bottom: 70px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.margin-bottom-90 {
	margin-bottom: 90px !important;
}

.margin-left-5 {
	margin-left: 5px !important;
}
.margin-left-10 {
	margin-left: 10px !important;
}
.margin-left-15 {
	margin-left: 15px !important;
}

.margin-left-20 {
	margin-left: 20px !important;
}

.margin-left-25 {
	margin-left: 25px !important;
}

.margin-left-30 {
	margin-left: 30px !important;
}

.margin-left-90 {
	margin-left: 90px !important;
}

.margin-right-5 {
	margin-right: 5px !important;
}

.margin-right-10 {
	margin-right: 10px !important;
}

.margin-right-15 {
	margin-right: 15px !important;
}

.margin-right-20 {
	margin-right: 20px !important;
}

.margin-right-25 {
	margin-right: 25px !important;
}

.margin-right-30 {
	margin-right: 30px !important;
}

.padding-top-5 {
	padding-top:5px;
}

.padding-top-10 {
	padding-top:10px;
}

.padding-top-15 {
	padding-top:15px;
}

.padding-top-20 {
	padding-top:20px;
}

.padding-top-25 {
	padding-top:25px;
}

.padding-top-30 {
	padding-top:30px;
}

.padding-top-35 {
	padding-top:35px;
}

.padding-top-40 {
	padding-top:40px;
}

.padding-top-45 {
	padding-top:45px;
}

.padding-top-50 {
	padding-top:50px;
}

.padding-top-55 {
	padding-top:55px;
}

.padding-top-60 {
	padding-top:60px;
}

.padding-top-70 {
	padding-top:70px;
}

.padding-top-80 {
	padding-top:80px;
}

.padding-top-90 {
	padding-top:90px;
}

.padding-top-100 {
	padding-top:100px;
}

.padding-bottom-5 {
	padding-bottom:5px;
}

.padding-bottom-10 {
	padding-bottom:10px;
}

.padding-bottom-15 {
	padding-bottom:15px;
}

.padding-bottom-20 {
	padding-bottom:20px;
}

.padding-bottom-25 {
	padding-bottom:25px;
}

.padding-bottom-30 {
	padding-bottom:30px;
}

.padding-bottom-35 {
	padding-bottom:35px;
}

.padding-bottom-40 {
	padding-bottom:40px;
}

.padding-bottom-45 {
	padding-bottom:45px;
}

.padding-bottom-50 {
	padding-bottom:50px;
}

.padding-bottom-55 {
	padding-bottom:55px;
}

.padding-bottom-60 {
	padding-bottom:60px;
}

.padding-bottom-70 {
	padding-bottom:70px;
}

.padding-bottom-80 {
	padding-bottom:80px;
}

.padding-bottom-90 {
	padding-bottom:90px;
}

.padding-bottom-100 {
	padding-bottom:100px;
}

.padding-5 {
	padding:5px;
}

.padding-10 {
	padding:10px;
}

.padding-15 {
	padding:15px;
}

.padding-20 {
	padding:20px;
}

.padding-25 {
	padding:25px;
}

.padding-30 {
	padding:30px;
}


/*-----------------------------------------------------------------*/
/* Navigation
/*-----------------------------------------------------------------*/


#header {
    top: 0;
    z-index: 500;
    width: 100%;
    position: fixed;
    z-index: 99999;
    transition: background 0.25s ease-in-out, border-bottom 0.25s ease-in-out;
}

#main-menu {
    z-index: 300;
}

.menu-bg {
    background: #ffffff;
    border-bottom: 2px solid #b9b9b9;
}

.menu-bg-transparent {
    background: rgba(255, 255, 255, 0.5);
}


#main-menu ul {
    display: block;
    width: 100%;
    text-align: center;
}

#main-menu ul li {
    display: inline-block;
    position: relative;
}

#main-menu ul li a {
    display: inline-block;
    padding: 6px 10px;
    line-height: 60px;
    color: #191919;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.25s ease;
    text-decoration: none;
}


.menu-bg #main-menu ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1); 
    color: #272727;
}


.menu-bg-transparent #main-menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

#main-menu .dropdown-menu {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: auto;
    white-space: normal;
}

#main-menu .dropdown-menu ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#main-menu .dropdown-menu ul li {
    display: block;
}

#main-menu .dropdown-menu ul li a {
    font-size: 14px;
    padding: 8px;
    line-height: 1.4;
    color: #333;
    text-decoration: none;
    text-align: center;
    display: block;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#main-menu .dropdown-menu ul li a:hover {
    background-color: #f5f5f5;
    border-color: #ddd;
}

#main-menu ul li:hover .dropdown-menu {
    display: block;
}

.dropdown-border {
    border: 2px solid #00000041;
    border-radius: 2px; 
}





#main-menu ul li.active > a,
#main-menu ul li.dropdown.active > a,
#main-menu ul li.dropdown.active .dropdown-toggle,
#main-menu .dropdown-menu ul li.active > a {
    color: #272727;
    box-shadow: inset 0 -2px 0 #272727;
}


.compliance-page {
	position: relative;
	width: 100%;
	height: 100vh; 
	background-repeat: no-repeat;
  }
  
  

.navbar-toggle {
	display: none;
	float: right;
	margin-top: 15px;
  }
  
  .navbar-toggle .icon-bar {
	width: 22px;
	height: 2px;
	background-color: #333;
	margin: 4px 0;
  }
  

.shadow-box {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.logo {
	width: 100% !important;
	height: 100% !important;
}

.logo-nav {
	float: left;
	line-height: 60px;
}
.arrow {
	display: inline-block;
	margin-left: 5px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;  /* Default color of the arrow */
	transition: transform 0.3s ease-in-out;
  }
  

  .open .arrow:hover {
	transform: rotate(180deg);
  }
  
  .up-arrow {
	transform: rotate(180deg);
  }
  
  @media (max-width: 992px) {
	.dropdown-arrow {
	  display: none !important; 
	}
  }

 .dropdown:hover .dropdown-menu {
	display: block;
  }

  .dropdown-menu {
	display: none;
  }
  
  .dropdown.show .dropdown-menu {
	display: block; 
  }
  
  .dropdown-menu .dropdown-item {
	display: block;
	width: 100%;
  }

/*-----------------------------------------------------------------*/
/* Slider
/*-----------------------------------------------------------------*/

.slideshow-container {
	display: grid;                
	place-items: center;          
	width: 100%;                 
	height: 100%;                
	overflow: hidden;          
  }
  
  .slideshow-image {
	grid-area: 1 / 1;             
	width: 100%;        
	height: 100%;                 
	object-fit: cover;           
	transition: opacity 1s ease-in-out;
	opacity: 0;                  
  }
  
  .slideshow-image.active {
	opacity: 1;                
  }

.fade {
    opacity: 1;
}

.footer {
	margin-top: 75px;
}

.home {
	overflow: hidden;
	font-family: "Raleway", sans-serif;
}

.home .slides {
	display: inline-block;
	width: 100%;
}

.home .flexslider {
	overflow: hidden;
}

.big {
	font-size: 50px;
	font-weight: bold;
	line-height: 70px;
	text-transform: uppercase;
	margin: 6px -10px;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.medium {
    font-size: 20px;
    font-weight: 200;
    color: #FFF;
    margin: 30px 0px 0px;
    text-transform: uppercase;
	font-weight: 600;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.small {
    font-size: 20px;
    font-weight: 200;
    color: #FFF;
    margin: 30px 0px 0px;
    text-transform: uppercase;
	font-weight: 600;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.home .flexslider .slides img {
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.home .flexslider .slides img.parallax {
	background-attachment: fixed;
}

.flexslider.video img {
	background: none !important;
}


.text-wrapper {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	left: 0;
	margin-top: -125px;
	text-align: center;
	z-index:999;
}

.text-wrapper .btn {
	margin-top: 60px;
	border:2px solid #FFF;
	background:transparent;
	color:#FFF;
}


.flexslider {
	position: relative;
}

.flex-prev {
	color: #333;
	font-size: 40px;
	height: 40px;
	left: 20px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 2;
}


.flex-next {
	color: #333;
	font-size: 40px;
	height: 40px;
	right: 0px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 2;
}

.home .flex-prev, .home .flex-next {
	color: #fff;
	transition: none;
}

#home {
	width: 100%;
	height: 100%;
	color: #fff;
}



/*-----------------------------------------------------------------*/
/*  Flexslider
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/* About
/*-----------------------------------------------------------------*/

/*#unused*/

.features-icon-box {
	margin-bottom:0px;
}

/*-----------------------------------------------------------------*/
/* Fun Facs
/*-----------------------------------------------------------------*/

#facts {
	background:url(../images/facts.jpg) no-repeat;
	padding: 50px 0px 50px;
}

.facts-box {
	text-align:center;
}

.facts-box h3 {
	font-size: 40px;
	margin-bottom: 12px;
	color: #FFF;
	font-weight: 700;
}

.facts-box span {
	color: #FFF;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

.facts-box i {
	color: #FFF;
	font-size: 50px;
	margin-bottom: 30px;
}

/*-----------------------------------------------------------------*/
/* Tab
/*-----------------------------------------------------------------*/


.content-tab-1 .nav {
	text-align: center;
	text-transform: uppercase;
}

.content-tab-1 > .nav > li {
	float: none;
	display: inline-block;
	border: 2px solid #B1AEAE;
	padding: 3px 5px;
	box-shadow: 0px 0px 2px #F2F2F2;
	margin-bottom: 5px;
}

.services-tab {
	min-width: 200px;
}

.content-tab-1 > .nav li > a {
	color: #CFD9E6;
	background-color: transparent;
	transition: all 0.2s ease 0s;
}

.content-tab-1 > .nav li > a > i {
	color: #474846;
	font-size: 35px;
	margin-bottom: 10px;
}

.content-tab-1 > .nav > li > a > h4 {
	display: block;
	color: #4D3F3F;
	font-size: 16px;
	margin-bottom: 0px;
}

.content-tab-1 > .nav > li.active > a > h4, .content-tab-1 > .nav > li.active > a > i {
    color: #FFF;
}

.content-tab-1 > .nav > li.active {
    border: 2px solid #3fa1c1;
    background: #3fa1c1;
}

.tab-content-main {
	padding: 70px 0px 0px;
}

.tab-content-main img {
	float: left;
	margin-right: 75px;
}



.hover-btn-blue:hover {
	background:#3fa1c1;
	border-color: #3fa1c1;
	color:#FFF;
	cursor: pointer;
}


.core-features .list {
	margin: 0px;
	padding: 0px 0px 0px 7px;
}

.core-features .list li {
    font-size: 15px;
    margin: 0px 0px 12px;
    font-weight: 600;
    line-height: 20px;
    position: relative;
    padding: 0px 0px 0px 25px;
    list-style: outside none none;
	color: #6E6D6D;
}

 .core-features .list li::after {
 top: 0px;
 left: 0px;
 content: "\f058";
 position: absolute;
 font-family: "FontAwesome";
}


/*-----------------------------------------------------------------*/
/* Works
/*-----------------------------------------------------------------*/

#works {
    position: relative;
    padding-bottom: 0px;
    line-height: 0;
}

.filter {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s linear 0s;
    padding: 20px 24px;
    margin-bottom: 15px;
    color: #5C5C5C;
    font-weight:600;
    font-size: 14px;
    border: 2px solid #B1AEAE;
}

.filter:last-child {
	margin:0px;
}

.filter.active, .filter:hover {
	color:#FFF;
	background:#3fa1c1;
	border-color:#3fa1c1;
}



/*-----------------------------------------------------------------*/
/* Services
/*-----------------------------------------------------------------*/

#services {
	padding-bottom:50px;
	background:#FFF;
}

.services-box {
	text-align: center;
	margin-bottom: 50px;
	border: 1px solid #EAE7E7;
	padding: 29px 10px 20px;
	background:#ffffff;
}

.services-box .services-icon {
	width: 80px;
	height: 80px;
	color: #FFF;
	font-size: 38px;
	line-height: 80px;
	border-radius: 50%;
	display: inline-block;
	margin: 0px auto;
	background: #3fa1c1 none repeat scroll 0% 0%;
}

.services-box .services-desc {
	margin-top: 25px;
}

.services-box .services-desc h4 {
	margin: 31px 0px 20px;
}


/*-----------------------------------------------------------------*/
/*  Why Choose Us
/*-----------------------------------------------------------------*/


.tabs .nav-tabs li a {
	border-radius:1px;
	color:#272727;
	font-weight: 700;
	font-size: 16px;
	padding:8px 16px;
	background:#F3F0F0;
	border-top:2px solid #F3F0F0;
}

.tabs .nav-tabs li.active a {
	border-top: 2px solid #3fa1c1;
	background: #FFF;
	color: #272727;
	font-weight: 700;
	font-size: 16px;
	text-transform: none;
}

.tabs .nav-tabs li a:hover {
	background:#ededed;
}

.tabs .nav-tabs li.active a:hover {
	background:#FFF;
}

.tabs .tab-content {
	border:1px solid #dbdbdb;
	border-top:none;
	padding:25px 15px;
	font-size:14px;
	color:#a9a9a9;
}

.card {
	margin-bottom: 20px;
}

.panel-group .panel-heading {
	cursor: pointer;
	padding: 15px 15px;
}

.panel-body ul li {
	margin-bottom:5px;
	line-height:20px;
	font-weight:300;
}

.panel-body ul li i {
	margin-right:5px;
}

.panel-title {
	font-size: 16px;
	font-weight: 600;
	color: #272727;
	text-transform: none;
}

.panel-group .panel {
	background: rgba(243, 243, 243, 0.59);
	border: 1px solid #F0EDED;
	margin-bottom: 20px;
	border-radius: 0px;
	box-shadow: 0px 1px 0px #CCC;
}

.panel-group .panel-body {
	border: none;
}



#accordion .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family:'FontAwesome';
	content:"\f068";
	float: right;
	color: #393535;
	font-size: 12px;
}

#accordion .panel-heading.collapsed .accordion-toggle:after {
	/* symbol for "collapsed" panels */
    content:"\f067";
}

.description-box {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}



.scrollable-accordion {
    max-height: 300px;  
    overflow-y: auto;  
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}


.scrollable-accordion .panel-group {
    max-height: 100%;
}



.card {
    margin-bottom: 10px;
}


.title-box {
    margin-bottom: 60px;
}

.content-spacing {
    margin-top: 40px; 
}


.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}


/*-----------------------------------------------------------------*/
/*   Single Work Page
/*-----------------------------------------------------------------*/

#page-header {
	background:url('../images/page-header.jpg');
	padding: 130px 0px 80px;
	text-align: center;
}

#page-header:after {
	background:rgba(0, 0, 0, .5);
	position:absolute;
	left:0px;
	right:0px;
}

#page-header h1 {
	margin-bottom: 0px;
	color: #FFF;
	font-weight: 600;
}

.landing-links {
	display: flex;               
	justify-content: flex-start;
	justify-content: center;
  	gap: 10px;                                            
  }
  
  .landing-links p {
	margin: 0;                    
	padding: 5px;                
	color: white
  }

  .landing-links p:hover {
	color: #3fa1c1;                 /* Color when hovering */
  }

.breadcrumb ul {
	list-style: none;
	padding:0;
	margin: 0;
}

.breadcrumb ul li {
	display: inline-block;
	padding: 0px 5px;
}

 .breadcrumb ul li::after {
 content: "\f101";
 font-family: 'fontawesome';
 color: #FFF;
 line-height: 21px;
 vertical-align: middle;
 padding-left: 10px;
}

 .breadcrumb ul li:last-child::after {
 display: none;
}

.breadcrumb ul li a {
	color: #C8C1C1;
	font-weight: 600;
	font-size: 14px;
}

.breadcrumb ul li a:hover {
	color:#3fa1c1;
}

.breadcrumb ul li.current a {
	color: #FFF;
}

.breadcrumb ul li.current a:hover {
	color: #3fa1c1;
}

.work-detail .btn {
	margin-top:15px;
}
.work-detail h3, #featured-works h3 {
	text-transform:none;
}

.work-detail-list {
	list-style:none;
	padding:0;
	margin:0;
}

.work-detail-list {
	list-style:none;
	padding:0;
	margin:0;
}

.work-detail-list li {
	padding: 0px 0px 7px;
	line-height: 22px;
	font-size: 16px;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 7px;
}

.work-detail-list li span {
	padding-right: 15px;
	text-transform: uppercase;
	font-size: 13.3px;
	font-weight: 600;
	color: #3E3E3E;
}

#single-work-slider {
	margin-bottom: 30px;
}

#single-work-slider .owl-controls {
	margin-top: 30px;
	position: absolute;
	width: 100%;
	top: 37%;
}

#single-work-slider .owl-prev, #single-work-slider .owl-next {
	display: block;
	width: 30px;
	height: 30px;
	line-height:20px;
	font-size:20px;
	border-radius:0;
	opacity:0.8;
	background:#3fa1c1;
	position: absolute;
}

#single-work-slider .owl-prev {
	left:0;
}

#single-work-slider .owl-next {
	right:0;
}

#single-work-slider .owl-prev:hover, #single-work-slider .owl-next:hover {
	opacity:1;
	background:#3fa1c1;
}

#single-work-slider .item img {
	display: block;
	width: 100%;
	height: auto;
}

blockquote {
	display: block;
	padding: 20px;
	background: rgba(245, 245, 245, 0.46) none repeat scroll 0% 0%;
	margin: 25px 15px;
	font-size: 15px;
	line-height: 21px;
	text-align: justify;
	color: #929292;
	letter-spacing: 0.1px;
	border-left: 5px solid #3fa1c1;
}

blockquote a {
	text-decoration: none;
	background: #eee;
	cursor: pointer;
	padding: 0 3px;
}

blockquote a:hover {
	color: #666;
}

blockquote em {
	font-style: italic;
}

.comments-section {
	padding:50px 0;
}

.comments-section h3 {
	margin-bottom: 35px;
	text-transform: none;
}

.comment-form input, .search-box input, .comment-form textarea {
	border:2px solid #CFCBCB;
}

.comment-form .form-control:focus , .search-box .form-control:focus{
	border:2px solid #B6DC93 !important;
}


.comment-form ::-webkit-input-placeholder {
 color:#5C5C5C !important;
 font-weight: 600;
 letter-spacing:1px;
}

.comment-form :-moz-placeholder {
 color:#5C5C5C !important;
 font-weight: 600;
 letter-spacing:1px;
}

.comment-form ::-moz-placeholder {
 color:#5C5C5C !important;
 font-weight: 600;
 letter-spacing:1px;
}

.comment-form :-ms-input-placeholder {
 color:#5C5C5C !important;
 font-weight: 600;
 letter-spacing:1px;
}

.comment-list {
	margin: 40px 0;
	padding-top: 20px;
}

.comment-list h3 {
	margin-bottom: 35px;
	text-transform: none;
}

.comment-list ol {
	list-style: none;
	margin-left: 0px;
	padding: 0;
}

.comment-list ol.comment-sub {
	list-style: none;
}

li.comment .single_comment.first-comment {
	margin-top:25px;
}

li.comment .single_comment {
	padding: 20px;
	background: #FFF none repeat scroll 0% 0%;
	margin-bottom: 20px;
	box-shadow: 0px 0px 2px #ccc;
}

li.comment ol.comment-sub {
	margin-left: 65px;
}

.comment-list ol .comment-avatar {
	float: left;
	margin-right: 25px;
}

.comment-list ol .comment-avatar img {
	width:100px;
	height:100px;
	border-radius: 50%;
}

.comment-list ol .comment-content {
	overflow: hidden;
}

.comment-list ol .comment-name {
	font-weight: 700;
}

.comment-list ol .comment-name span {
	font-weight: normal;
	color: #aaa;
	margin: 0 8px;
}

.comment-list ol .comment-name a {
	font-size: 15px;
	font-weight: 600;
	color: rgb(87, 87, 87);
}

.comment-list ol .comment-name a.comment-reply {
	font-size: 13px;
	font-weight: 600;
	color: rgb(126, 193, 63);
}

.comment-list ol .comment-desc {
	font-size: 13px;
	margin-bottom: 10px;
	color: #5A5656;
	margin-top: 10px;
	font-weight: 600;
}

.tags {
	padding: 10px 0 10px;
	display:inline-block;
}

.tags a {
	float: left;
	padding: 10px 7px;
	font-size: 13px;
	color: #504C4C;
	margin: 0px 6px 6px 0px;
	background: transparent;
	font-weight: 600;
	border: 1px solid #ccc;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}

.tags a:hover {
	background:#3fa1c1;
	color:#FFF;
	border: 1px solid #ccc;
}

/*-----------------------------------------------------------------*/
/*  Contact
/*-----------------------------------------------------------------*/

#contact {
	background:url(../images/contact.jpg) no-repeat;
}

.contact-form {
	display: block;
	padding: 0px 0px 20px 0px;
}

.contact-info {
	margin-bottom:65px;
}

.contact-info p {
    font-size: 17px;
    line-height: 13px;
    margin-bottom: 16px;
    color: #FFF;
}

.full-screen-image {
	background-image: url('your-image-url');
	background-size: cover; 
	background-position: center; 
	min-height: 100vh;
	width: 100%;
}



.call-action-section {
    background-color: #a4a4a4; 
    padding: 20px 40px;
}

.call-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}



.call-action-nav {
    display: flex;
}

.call-action-links {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.call-action-link-item {
    margin: 0;
}

.call-action-link {
    color: #ffffff; 
    text-decoration: none;
    font-size: 14px;
}

.call-action-link:hover {
    text-decoration: underline; 
}

.compliance-page {
	position: relative;
	width: 100%;
	height: 100vh; 
	background-repeat: no-repeat;
  }
  
  .compliance-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .compliance-container {
	text-align: center;
	max-width: 800px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8); 
	border-radius: 8px;
  }
  
  .compliance-title {
	font-size: 2.5rem;
	font-weight: bold;
	color: #000000;
	margin-bottom: 20px;
	
  }
  
  .compliance-description {
	font-size: 1.2rem;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }
  .item .slideshow-image {
	width: 100%;
	height: auto;
	opacity: 0;
	transition: opacity 1s ease-in-out; /* Smooth fade transition */
  }
  
  .item .slideshow-image.active {
	opacity: 1;
  }
  .bg-light-blue {
	background-color: #e3f2fd;
  }
  .bg-light-green {
	background-color: #e8f5e9; 
  }
  .bg-light-orange {
	background-color: #fff3e0; 
  }
  .bg-light-gray {
	background-color: #f5f5f5; 
  }
  .accordion-item {
	border-radius: 5px;
	margin-bottom: 1rem;
	overflow: hidden;
  }
  .accordion-button {
	color: #333;
	font-weight: bold;
  }

  .highlight {
    border-color: #ffcc00;
    box-shadow: 0 0 5px #ffcc00;
}


  
/* Responsive Adjustments for Tablet and Desktop */
@media (min-width: 992px) and (max-width: 1024px) {
	.navbar-right {
		float: none !important;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.thumnail-img {
		width: 50%;
	}
}

@media (max-width: 768px) {
	.thumnail-img {
		width: 50%;
	}
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 550px) {
	.thumnail-img {
		width: 100%;
	}
}

/* Font Adjustments for Small Screens */
@media (max-width: 480px) {
	.big {
		font-size: 35px;
		line-height: 52px;
	}
	.medium, .small {
		font-size: 19px;
	}
}

/* Main Menu Default for Larger Screens */
@media (min-width: 992px) {
	#main-menu.collapse {
		display: block !important; /* Always show main menu */
	}
}

/* Mobile View and Smaller Screen Sizes */
@media (max-width: 992px) {
	#main-menu {
		background: #ffffff;
		display: none; /* Hide by default on mobile */
	}

	.navbar-right {
		float: none !important;
		margin-right: 0px !important;
	}

	.clear-toggle {
		display: block;
	}

	.navbar-toggle {
		display: block !important; /* Show toggle on mobile */
	}

	#main-menu.open {
		display: block; /* Show menu when 'open' class is added */
		position: absolute;
		background: #ffffff;
		top: 60px;
		right: 0;
		width: 100%;
		text-align: center;
		z-index: 1000;
	}

	#main-menu ul {
		list-style-type: none;
		padding: 0;
	}

	#main-menu ul li {
		display: block;
		text-align: left;
	}

	#main-menu ul li a {
		line-height: 23px;
		display: inherit;
		border-bottom: 1px solid #2C2C2C;
		padding: 5px 20px;
		background: transparent;
	}

	#main-menu ul li a:hover,
	#main-menu ul li.active a {

		background: #3fa1c1 !important;
		color: #FFF;
	}
	#main-menu ul li.active a {

		background: #3fa1c1 !important;
		color: #FFF;
	}

	#main-menu ul li.active > a {
		box-shadow: none !important;
	}
}